* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
html {
font-size: 16px;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

body,
form {
  background: linear-gradient(to bottom, rgba(0, 123, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.action-bar {
 font-size: 1.1rem;
  height: 4em;
  background-color: #2196f3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.form-section {
  flex: 1;
  display: flex;
  margin: 1.1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 17em;
  height: 3.8em;
  margin: 0.5em;
  align-self: center;
  border-radius: 0.4em;
  font-size: 1rem;
  padding: 0.5em;
  border: 0.2em solid #CCCCCC00;
  border-style: inset;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.1em;
}

.checkbox-container label {
  margin-left: 0.5em;
}

label {
  text-align: left;
  font-size: 1rem;
}

.button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 17em;
  height: 3.8em;
  border-radius: 1.1em;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  ;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:active {
  outline: none;
  box-shadow: none;
}

#registerDrawer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateY(calc(100% - 4em));
  transition: transform 0.4s ease-in-out;
  border-top-left-radius: 3.8em;
  border-top-right-radius: 3.8em;
  box-shadow: 0 -0.2em 3.8em rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: flex;
  flex-direction: column;
}

#registerHandle {
  height: 4em;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border-top-left-radius: 3.4em;
  border-top-right-radius: 3.4em;
  cursor: pointer;
  touch-action: manipulation;
}

#registerIframe {
  flex: 1;
  width: 100%;
  border: none;
  display: none;
}