html {
font-size: 16px;
}
body, form {
  margin: 0;
  padding: 0.3em;
  background: linear-gradient(to bottom, rgba(0, 123, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

label {
  width: 17em;
  align-content: start;
  align-self: center;
  font-size: 1rem;
}

.input {
  width: 17em;
  height: 1.9em;
  margin-top: 0.2em;
  align-self: center;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.2em;
  font-size: 1rem;
  padding: 0.5em;
  border: 0.2em solid #EEEEEE00;
  border-style: inset;
}

select {
  width: 17em;
  height: 3.4em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  align-self: center;
  border-radius: 0.15em;
  font-size: 1rem;
  border: 0.2em solid #CCCCCC00;
  border-style: inset;
}

.file {
  align-self: center;
  width: 17em;
  height: 3.4em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
}

button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 1.1em;
  border: none;
  align-self: center;
  text-align: center;
  width: 17em;
  height: 3.4em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.1em;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:active {
  outline: none;
  box-shadow: none;
}

.terms-text {
  text-align: center;
  text-justify: auto;
  align-self: center;
  margin: 0.5em;
  min-width: 17em;
  font-size: 1rem;
  line-height: 1.5;
}

.terms-text b {
  font-weight: bold;
}

.terms-text a {
  color: #007bff;
  text-decoration: none;
}

.terms-text a:hover {
  text-decoration: underline;
}

#keyboard-padding {
  height: 0;
  pointer-events: none;
}