@font-face {
  font-family: "balance-font";
  src: url("subset-GaramondNo4CyrTCY-Ligh.eot");
  src:
    url("subset-GaramondNo4CyrTCY-Ligh.eot?#iefix") format("embedded-opentype"),
    url("subset-GaramondNo4CyrTCY-Ligh.woff2") format("woff2"),
    url("subset-GaramondNo4CyrTCY-Ligh.woff") format("woff"),
    url("subset-GaramondNo4CyrTCY-Ligh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
